h2
{
	font-size: 30px;
   color: maroon; /* Paragraphes de 14 pixels */
   background-color:white;
}
body
{
	text-align: center;
	background: url("fond.jpg") fixed no-repeat center;
	
}

h3 
{
	font-size: 28px;
    padding-left: 600px;
    padding-right: 600px ;
}
iframe
{
	height: 300px;
	width: 600px;
	border-radius: 35px;
	
}
p
{
	font-size: 20px; 
	border:3px black double;
}

img
{
    border-radius: 30px;
	height:auto;
	width:auto;
	max-height:300px;
}

ul{
	text-align: center;
	font-size: 24px;'
}


ul#swag{
	padding:0;
}
ul#swag li
{
	display:inline;
}
ul#swag li a
{
	background-color: black;
	color: white;
	padding: 10px 20px;
	text-decoration: none;
}
ul#swag li a:hover
{
	background-color:red;
}