h2
{
	font-size: 30px;
   color: maroon; /* Paragraphes de 14 pixels */
   background-color:white;
}
body
{
	text-align: center;
	
}

h3 
{
	font-size: 28px;
    padding-left: 20px;
    padding-right: 800px ;
}
iframe
{
	height: 300px;
	width: 600px;
	border-radius: 35px;	
}
p
{
	font-size: 20px; 
	border:3px black double;
}
