personne {
    display:block;
}

identite {
    display:block;
    padding:10px;
    font-weight:bold;
    color:white;
}

personne[sexe="masculin"] identite {
    background-color:#008080;
}

personne[sexe="feminin"] identite {
    background-color:#FBA0FE;
}

telephones {
    display:block;
    background-color:#EEE;
    padding: 5px 10px;	
}

telephone {
    display:block;
}

p
{
	    display:block;
		color:purple;

}